@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500;1,700;1,900&display=swap");

$primaryColor: #891818;
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 56px;
  padding-bottom: 68px;
}

header {
  margin-bottom: 56px;
  color: #fff;
  background-image: url(https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true);
  height: 958px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-size: 80px;
    line-height: 106px;
    margin-bottom: 32px;
    span {
      display: block;
      font-size: 24px;
      line-height: 1.75;
    }
  }
  .subtitle {
    margin-bottom: 40px;
  }
  .linkList {
    display: flex;
    justify-content: center;
    li {
      margin-left: 16px;
      a {
        font-size: 60px;
        color: $primaryColor;
      }
    }
  }
}

.about {
  text-align: center;
  padding-bottom: 56px;
  font-weight: bold;
  .profilePic {
    margin-bottom: 20px;
  }
  .personalInform {
    padding-bottom: 24px;
    margin-bottom: 28px;
    li:last-child {
      line-height: 36px;
    }
  }
  .experienceList {
    width: 384px;
    margin: 0 auto;
    border-top: 1px solid #000;
    padding-top: 28px;
    li {
      margin-bottom: 28px;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        content: "";
        width: 22px;
        height: 22px;
        background-color: $primaryColor;
        border-radius: 50%;
        top: 0px;
        display: inline-block;
        margin-right: 16px;
      }
    }
  }
}
.mainTitle {
  font-size: 64px;
  line-height: 84px;
  margin-bottom: 40px;
}
.list {
  line-height: 1.75;
}
.darkArea {
  background: #000;
  color: #fff;
  text-align: center;
  font-weight: 500;
  h3 {
    line-height: 1.75;
  }
  p {
    font-size: 20px;
    margin-bottom: 68px;
  }
  .brandPic {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
.works {
  padding-top: 56px;
  text-align: center;
  margin-bottom: 144px;
  .workIntro {
    font-size: 20px;
    margin-bottom: 56px;
  }
  .workPic {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    p {
      font-size: 20px;
      line-height: 2.1;
    }
  }
}

footer {
  padding-top: 64px;
  padding-bottom: 64px;
  .mainTitle {
    margin-bottom: 16px;
  }
  .contact {
    li {
      margin-bottom: 16px;
    }
    li:last-child {
      margin-bottom: 0;
    }
    a {
      color: #fff;
    }
  }
}
